<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="robots" content="noindex">
	
	<title>{{ title | default: "Codebank" }}</title>

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/prism.css">
</head>
<body>
	<div class="page">
		<header class="header">
			<h1><a href="/">Codebank</a></h1>
		</header>
		<article>
			{{ content }}
		</article>
		
		<input type="checkbox" id="mobile-nav" />
			<aside>
			<ul>
				<li><a href="{{ '/tagged/supermodel' | url }}">Supermodel</a></li>
				<li><a href="{{ '/tagged/javascript' | url }}">Javascript</a></li>
				<li><a href="{{ '/tagged/css' | url }}">CSS</a></li>
				<li><a href="{{ '/tagged/terminal' | url }}">Terminal</a></li>
				<li><a href="{{ '/tagged/mobile' | url }}">Mobile</a></li>
				<li><a href="{{ '/tagged/hosting' | url }}">Hosting</a></li>
			</ul>
			<p>© <a href="http://sneak.co.nz">Sneak</a></p>
		</aside>
		<label for="mobile-nav" class="mobile-toggle">
			<i class="burger"></i>
		</label>
	</div>
</body>
</html>