---
layout: site.html
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
      - post
      - all
permalink: /tagged/{{ tag }}/
---

<section class="post">
	<h2>Post tagged with “{{ tag }}”</h2>
</section>

{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
	<section class="post">
		<div class="post-content">
			<h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
			<div class="post-text">
				{{ post.content | safe }}
			</div>
		</div>
		<section class="metadata">
			<a href="{{ post.url }}" class="meta-item post-date">#</a>
			{%- for tag in post.data.tags | filterTagList %}
				{%- set tagUrl %}/tagged/{{ tag | slugify }}/{% endset %}
				<a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
			{%- endfor %}
			<a href="https://github.com/sneaknz/sneaknz.github.io/blob/main/{{ page.inputPath }}">~</a>
		</section>
	</section>
{% endfor %}
